<div class="panel panel-default" style="border: none;">
	<div class="panel-section">
		<div class="panel-heading clearfix" style="border-bottom: 1px solid rgb(169, 169, 169); background-color: black; color: white;">
			<p class="text-left" style="margin-bottom: 0px;">Encrypt Password</p>
			<button class="myButton pull-right point" style="margin-top: -20px; padding: 0px 30px;" onclick="encrypt_pass();">Go!</button>
		</div>
		<div style="background-color: black; color: white;">
			<div style="float: left; margin-top: 15px; padding-bottom: 10px; clear: left;">
				<span style="margin-right: 10px;">New Password</span>
				<input data-val="new_pass" type="text" style="color: black;"/>
			</div>
			<div style="float: left; margin-top: 15px; padding-bottom: 10px; clear: left; border-bottom: 1px solid gray;">
				<span style="margin-right: 80px;">Salt</span>
				<input data-val="new_salt" type="text" style="color: black;"/>
			</div>
		</div>
		<div id="rslt1" style="background-color: black; color: white; display: none;">
			<div style="float: left; margin-top: 15px; padding-bottom: 10px; clear: left;">
				<span style="margin-right: 10px;">Password: </span>
				<span id="rslt_pass1"></span>
			</div>
			<div style="float: left; margin-top: 15px; padding-bottom: 10px; clear: left;">
				<span style="margin-right: 10px;">Salt: </span>
				<span id="rslt_salt1"></span>
			</div>
		</div>
	</div>
	<div class="panel-section" style="display: none;">
		<div class="panel-heading clearfix" style="border-bottom: 1px solid rgb(169, 169, 169); background-color: black; color: white;">
			<p class="text-left" style="margin-bottom: 0px;">Decrypt Password</p>
			<button class="myButton pull-right point" style="margin-top: -20px; padding: 0px 30px;" onclick="decrypt_pass();">Go!</button>
		</div>
		<div style="background-color: black; color: white;">
			<div style="float: left; margin-top: 15px; padding-bottom: 10px; clear: left;">
				<span style="margin-right: 10px;">Password</span>
				<input data-val="pass" type="text" style="color: black;"/>
			</div>
			<div style="float: left; margin-top: 15px; padding-bottom: 10px; clear: left; border-bottom: 1px solid gray;">
				<span style="margin-right: 48px;">Salt</span>
				<input data-val="salt" type="text" style="color: black;"/>
			</div>
		</div>
		<div id="rslt2" style="background-color: black; color: white; display: none">
			<div style="float: left; margin-top: 15px; padding-bottom: 10px; clear: left;">
				<span style="margin-right: 10px;">Password: </span>
				<span id="rslt_pass2"></span>
			</div>
		</div>
	</div>
</div>	